@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "IranSans";
  src: url("../public/fonts/IranSans/IRANSans.ttf") format("ttf");
  src: url("../public/fonts/IranSans/IRANSans.woff") format("woff");
  src: url("../public/fonts/IranSans/IRANSans.woff2") format("woff2");
}

* {
  font-family: "IranSans";
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}
